body{
    background-color:#2d283e;
}

header{
    display: flex;
    position: relative;
    width:100%;
    height:120px;
    /*background-color:cadetblue;*/
}

.logo{
    clip-path: circle(70.5% at 30% 50%);
    position: relative;
    height:130px;
    width:200px;
    margin:10px;
    background-color:#d1d7e0;
}

img{
    padding:4px;
    width:85%;
}

.stuff{
    display:flex;
    flex-direction: row-reverse;
    position: relative;
    height:130px;
    width:100%;
    margin:10px;
    /*background-color:white;*/
}

.stuff1{
    clip-path: circle(68.0% at 68% 49%);
    position: relative;
    height:130px;
    width:300px;
    margin:px;
    background-color:#d1d7e0;
}

nav{ 
    color:#d1d7e0;
    top:5px;
    font-family:'Quicksand', sans-serif;
    text-align: center;
    position: relative;
    height:30px;
    margin:10px 300px;
    /*background-color:cadetblue;*/
}

nav a{
    color:#d1d7e0;
    text-decoration: none;
    padding:60px;
    font-family:'Quicksand', sans-serif;
    font-size: 12px;
}

nav a:hover, a:active {
    color: #fade26;
}

hr{
    color:#fade26;
    margin:0% 3%;
}

main{
    align-items: space-around;
    position: relative;
    display: flex;
    height:600px;
    margin:10px;
    /*background-color:black;*/
}

.trendzbox{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height:600px;
    width:620px;
    margin:0px;
    /*background-color:cadetblue;*/
}

.trendz{
    text-align: center;
    flex-direction: column;
    display:flex;
    position: relative;
    height:300px;
    width:600px;
    margin:10px;
    /*background-color:#d1d7e0;*/
}

.clip{
    bottom:0px;
    text-align:center;
    position: relative;
    left:100px;
    height:100px;
    width:400px;
    /*margin:0px;*/
    background-color:#802bb1;
    clip-path: circle(30% at 50% 0);
}

h1{
    font-family: 'Quicksand', sans-serif;
    font-size:33px ;
    color:white;
}

p a{
    text-decoration: none;
    color:white;
}

p{
    color:#d1d7e0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    
}


.explore{
    display: flex;
    align-items: center;
    position: relative;
    height:150px;
    margin:10px;
}

button{
    top:50px 50px;
    font-family: 'Quicksand', sans-serif;
    background-color: #802bb1;
    clip-path: circle(40% at 50% 50%);
    border: none;
    color: white;
    padding: 20px 50px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;

}



.advertisement{
    left:180px;
    align-items: center;
    position: relative;
    height:600px;
    width:250px;
    margin:0px;
    background-color:cadetblue;
}

.hr hr{
    color:#fade26;
    margin:1% 3%;
}

footer{
    display: flex;
    position: relative;
    height:150px;
    margin:10px;
    /*background-color:cadetblue;*/
}

.main{
    display:flex;
    position: relative;
    height:200px;
    width:400px;
    /*ackground-color:#d1d7e0;*/
}

.quick{
    position: relative;
    height:200px;
    width:200px;
    /*background-color:black;*/
}

.get{
    position: relative;
    height:200px;
    width:200px;
    /*background-color:brown;*/
}

footer h1{
    font-size:11px;
    text-align: center;

}

footer p{
    padding-top:40px;
    font-size:11px;
    text-align: center;
}

footer a:hover, a:active {
    color: #fade26;
}

.links{
    text-align: center;
    display: flex;
    flex-direction: column;
    left:19%;
    position: relative;
    height:170px;
    width:400px;
    /*background-color:darkcyan;*/
}

.empty{
    display:flex;
    position: relative;
    height:60px;
    width:400px;
    /*background-color:white;*/
}

.line{
    height:3px;
    width: 380px;
    /*background-color:white;*/
}

.line hr{
    color: #d1d7e0;
}

.morelinks{
    display: flex;
    justify-content: space-around;
    top:5px;
    position: relative;
    height:40px;
    width:400px;
    /*background-color:white;*/
}
.links a{
    color:#d1d7e0;
    padding: 5px;
}

.btmlogo{

    text-align: center;
    display: flex;
    flex-direction:row-reverse;
    left:35.6%;
    position: relative;
    height:170px;
    width:400px;
    /*background-color:darkcyan;*/
}

.empty2{
    display:flex;
    flex-direction: column-reverse;
    position: relative;
    height:170px;
    width:200px;
    /*background-color:white;*/
}

.empty2 img{
    height:70%;
    width:80%;
    padding: 20px;
}

.credit{
    flex-direction: column-reverse;
    display:flex;
    position: relative;
    height:155px;
    width:200px;
    /*background-color:white;*/
}


.cards{
    justify-content: space-around;
    display:flex;
    position: relative;
    height:30px;
    width:200px;
    /*background-color:darkgrey;*/
}

 .slideshow{
   
    height:600px;
    width:900px;
    margin:0px;
    padding: 0px;
    overflow: hidden;
    border-bottom: 1px solid white;
}

  
  @keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:900px;}
    30% {left:900px;}
    40% {left: 1800px;}
    50% {left: 1800px;}
    60% {left: 900px;}
    70% {left: 900x;}
    80% {left: 0px;}
    90% {left: 0px}
    100% {left: 0px}
  }
  
  
.slide-images{
    width: 2700px;
    height:600px;
    margin: 0 0 0 -1800px;
    position: relative;
    display: flex;
    animation-name: slide_animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
  
  .img-container{

  height: 600px;
  width: 900px;
  position: relative;
  float: left;
  }
.img-container img{
    width: 900px;
    height: 600px;
    padding: 0px 0px 0px px;
    margin: 0px 0px 0px 0px;
}